.link {
  display: inline-block;
  margin: 0 5px;
  text-decoration: none;
  color: #000;
  font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
}

.link:global(.active) {
  font-weight: bold;
}
.button {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
  /* margin-right: 20px; */
  margin-left: 20px;
}

.button.active {
  color: #e84a5f;
}