.form {
  /* margin-left: 55px; */
  width: 400px;
}

.label {
  display: block;
  max-width: 300px;
  display: flex;
  flex-direction: column;
  margin-top: 16px;
}
.button {
  display: inline-block;
  text-decoration: none;
  padding: 12px;
  font-weight: 700;
  color: #2a363b;
  margin-top: 20px;
  /* margin-right: 20px; */
}
